.modal-content {
  background-color: #fff;
  max-width: 50%;
  min-width: 300px;
  max-height: 1000px;
  border-radius: 10px;
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-title {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-subtitle {
  width: 100%;
  font-size: 11px;
  color: #44546f;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#label-correo,
#label-rol,
#label-etiquetas {
  font-size: 0.75rem;
  font-weight: 600;
  color: #626f86;
}

#label-correo::after,
#label-rol::after {
  content: '*';
  color: #ae2a19;
}

#input-correo {
  width: 50%;
  height: 2rem;
}

#input-dominio-correo {
  width: 50%;
  height: 2rem;
}

#input-correo::placeholder {
  font-size: 0.75rem;
  line-height: 0.75rem;
  vertical-align: middle;
  color: #626f86;
}

.modal-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
